.form-field {
    
    width: 100%;
    
}
.right-align {
    text-align: right;
    position: relative;
    top: 3px;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
 